{% extends 'profil/profil.html.twig' %}
{% block body %}
    {% block stylsheet %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/styleFicheMois.css') }}">
    {% endblock %}

    {% block header %}
        {{ parent() }}
    {% endblock header%}
    {% block main %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    {% block menu %}
                        <div class="container-fluid">
                            <div class ='row'>
                                <nav class="col-sm hidden-xs-down bg-faded sidebar">
                                    <div id="navLateral">
                                        <ul class="nav nav-pills flex-column">
                                            <li class="nav-item" >
                                                <a class="nav-link" href="{{ path('gsb_profil_homepage') }}">Menu<i class="fas fa-book"></i></a>
                                            </li>
                                        </ul>
                                        <hr>

                                        <ul class="nav nav-pills flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ path('gsb_profil_saisie_frais') }}">Saisie des frais<i class="far fa-edit"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" href="{{ path('gsb_profil_afficher_mois') }}">Fiche du mois <i class="fas fa-angle-left"></i><span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Historique</a>
                                            </li>
                                        </ul>

                                        <hr>

                                        <ul class="nav nav-pills flex-column">

                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Changer de mot de passe <i class="fas fa-key"></i></a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Se déconnecter <i class="fas fa-power-off"></i></a>

                                            </li>
                                        </ul>

                                    </div>
                                </nav>
                            </div>
                        </div>
                    {% endblock menu %}
                </div>



                <div class="col-sm-9">
                    {% block contenu %}

                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1> Fiche des frais </h1>
                                <h3>{{ dateDebut }} - {{ dateFin }}</h3>
                                <!--ee-->
                            </div>
                        </div>

                        <br>

                        {# SI FICHE FRAIS N'EST PAS VIDE#}
                        {% if ficheFrais %}
                        <div class="container">
                            {{ dump(ficheFrais[0]["id"]) }}
                            {#<h5>Dernière modification le : {{ ficheFrais[0]['dateModif'] | date('d/m/Y') }}</h5>#}
                        </div>
                        {% endif %}

                    {% endblock contenu %}
                </div>


            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock javascripts %}

{% endblock %}