{% extends 'base.html.twig' %}
{% block body %}
    {% block stylsheet %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/styleProfil.css') }}">
        <style>
            /*nav {
                background-color: red;
            }*/
        </style>
    {% endblock %}

    {% block header %}
        {{ parent() }}
    {% endblock header%}
    {% block main %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    {% block menu %}
                        {{ parent() }}
                    {% endblock menu %}
                </div>



                <div class="col-sm">
                    {% block contenu %}

                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1> Fiche du mois </h1>
                                <!--ee-->
                            </div>
                        </div>

                    {% endblock contenu %}
                </div>
                <div class="col-sm-4 col-md-3">
                    {% block affichage %}
                    {% endblock affichage %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock javascripts %}

{% endblock %}