{% extends 'profil/profil.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                {% block menu %}
                    <div class="container-fluid">
                        <div class ='row'>
                            <nav class="col-sm hidden-xs-down bg-faded sidebar">
                                <div id="navLateral">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item" >
                                            <a class="nav-link" href="{{ path('gsb_profil_homepage') }}">Menu<i class="fas fa-angle-left"></i></a>
                                        </li>
                                    </ul>
                                    <hr>

                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{{ path('gsb_profil_saisie_frais') }}">Saisie des frais<span class="sr-only">(current)</span><i class="far fa-edit"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Fiche du mois <i class="fas fa-book"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Historique</a>
                                        </li>
                                    </ul>

                                    <hr>

                                    <ul class="nav nav-pills flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Changer de mot de passe <i class="fas fa-key"></i></a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Se déconnecter <i class="fas fa-power-off"></i></a>

                                        </li>
                                    </ul>

                                </div>
                            </nav>
                        </div>
                    </div>
                {% endblock menu %}
            </div>



            <div class="col-sm">
                {% block contenu %}

                    <div class="jumbotron jumbotron-fluid">
                        {#{{ form_start(form) }}

                        {{ form_end(form) }}#}
                    </div>

                {% endblock contenu %}
            </div>
            <div class="col-sm-4 col-md-3">
                {% block affichage %}
                {% endblock affichage %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}