{% extends 'base.html.twig' %}
{% block body %}
    {% block stylsheet %}
        {{ parent() }}
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet">
        <style>
        #formConnexion{
            /*padding-top: 3em;
            padding-bottom: 3em;*/
        }

        body {
            background-attachment:fixed;
            background-repeat:no-repeat; /*ne pas répéter l'image*/
            -webkit-background-size: cover; /* pour anciens Chrome et Safari */
            -moz-background-size: cover; /* pour mozilla */
            -o-background-size: cover; /* pour opera */
            background-size: cover; /* version standardisée : Remplire toute la page */
            background-position: center;
        {#background-position:left top;#}
        }
        body:before{
            content: "";
            position: fixed;
            height: 100%; width: 100%;
            background: url({{ asset('assets/img/fondGsbFrais2.jpg') }});
            background-size: cover;
            z-index: -1; /* Keep the background behind the content */
            -webkit-filter: blur(4px);
            -webkit-background-size: cover; /* pour Chrome et Safari */
            -moz-background-size: cover; /* pour Firefox */
            -o-background-size: cover; /* pour Opera */
            background-size: cover; /* version standardisée */
        }
        .container1, .container2{
            padding: 40px;
            opacity: 0.8;
        }

        .jumbotron{
            border-radius: 11px;
        }
        #divSave{
            text-align: center;
            padding-top: 15px;
        }
        </style>
    {% endblock %}

    {% block header %}
    {{ parent() }}
    {% endblock header %}
    {% block  main %}
        <div class="container1">
            <div class="jumbotron jumbotron-fluid">
                <div class="container2">
                    <div class="container">
                        <h1>Connexion</h1><br>
                        <div class="container-fluid">
                            {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_row(form.login) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.mdp) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.choices) }}
                                </div>
                                <br>
                                <div id="divSave">
                                {{ form_row(form.save) }}
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock javascripts %}

{% endblock %}
